@layer utilities {

  .flex_column {
    flex-direction: column
    }

  .bg_\#fff {
    background: #fff
    }

  .bg_red {
    background: red
    }

  .w_312 {
    width: 312px
    }

  .h_280 {
    height: 280px
    }

  .bg_\#FFF {
    background: #FFF
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .d_flex {
    display: flex
    }

  .shadow_md {
    box-shadow: var(--shadows-md)
    }

  .text_\#d76d77 {
    color: #d76d77
    }

  .text_red {
    color: red
    }

  .text_gray\.400 {
    color: var(--colors-gray-400)
    }

  .text_\#3a1c71 {
    color: #3a1c71
    }

  .text_gray\.600 {
    color: var(--colors-gray-600)
    }

  .text_center {
    text-align: center
    }

  .text_red\.600 {
    color: var(--colors-red-600)
    }

  .text_yellow\.600 {
    color: var(--colors-yellow-600)
    }

  .text_primary {
    color: primary
    }

  .fs_md {
    font-size: var(--font-sizes-md)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .m_auto {
    margin: auto
    }

  .text_blue\.600 {
    color: var(--colors-blue-600)
    }

  .text_green\.600 {
    color: var(--colors-green-600)
    }

  .bg_yellow\.600 {
    background: var(--colors-yellow-600)
    }
}