@layer utilities {

  .max-h_calc\(100vh_-_100px\) {
    max-height: calc(100vh - 100px)
    }

  .pos_relative {
    position: relative
    }

  .w_312 {
    width: 312px
    }

  .h_280 {
    height: 280px
    }

  .bg_\#fff {
    background: #fff
    }

  .text_primary {
    color: primary
    }

  .fs_md {
    font-size: var(--font-sizes-md)
    }

  .font_bold {
    font-weight: var(--font-weights-bold)
    }

  .m_auto {
    margin: auto
    }

  .text_blue\.600 {
    color: var(--colors-blue-600)
    }

  .text_yellow\.600 {
    color: var(--colors-yellow-600)
    }

  .overflow_auto {
    overflow: auto
    }

  .pb_200px {
    padding-bottom: 200px
    }

  .pt_10 {
    padding-top: var(--spacing-10)
    }

  .bg_whitesmoke {
    background: whitesmoke
    }

  .border_1px_solid_gray\.300 {
    border: 1px solid gray.300
    }

  .py_8 {
    padding-block: var(--spacing-8)
    }

  .border-t_gray\.300 {
    border-top-color: var(--colors-gray-300)
    }

  .border-t_gray\.200 {
    border-top-color: var(--colors-gray-200)
    }

  .shadow_md {
    box-shadow: var(--shadows-md)
    }

  .p_2 {
    padding: var(--spacing-2)
    }

  .w_6 {
    width: var(--sizes-6)
    }

  .h_6 {
    height: var(--sizes-6)
    }

  .py_2 {
    padding-block: var(--spacing-2)
    }

  .py_1\.5 {
    padding-block: var(--spacing-1\.5)
    }

  .drop-shadow_xs {
    --drop-shadow: xs
    }

  .shadow_inner {
    box-shadow: var(--shadows-inner)
    }

  .max-h_60px {
    max-height: 60px
    }

  .items_center {
    align-items: center
    }

  .shadow_xs {
    box-shadow: var(--shadows-xs)
    }

  .\-border-color_gray\.300 {
    -border-color: gray.300
    }

  .px_8 {
    padding-inline: var(--spacing-8)
    }

  .border_gray\.300 {
    border-color: var(--colors-gray-300)
    }

  .py_6 {
    padding-block: var(--spacing-6)
    }

  .shadow_lg {
    box-shadow: var(--shadows-lg)
    }

  .overflow_hidden {
    overflow: hidden
    }

  .gap_4 {
    gap: var(--spacing-4)
    }

  .gap_6 {
    gap: var(--spacing-6)
    }

  .ml_8 {
    margin-left: var(--spacing-8)
    }

  .mr_4 {
    margin-right: var(--spacing-4)
    }

  .mr_2 {
    margin-right: var(--spacing-2)
    }

  .bg_gray\.700 {
    background: var(--colors-gray-700)
    }

  .px_2 {
    padding-inline: var(--spacing-2)
    }

  .rounded_sm {
    border-radius: var(--radii-sm)
    }

  .w_8 {
    width: var(--sizes-8)
    }

  .h_8 {
    height: var(--sizes-8)
    }

  .cursor_pointer {
    cursor: pointer
    }

  .text_white {
    color: var(--colors-white)
    }

  .w_4 {
    width: var(--sizes-4)
    }

  .h_4 {
    height: var(--sizes-4)
    }

  .text_green\.600 {
    color: var(--colors-green-600)
    }

  .pos_fixed {
    position: fixed
    }

  .inset-x_0 {
    inset-inline: var(--spacing-0)
    }

  .bottom_0 {
    bottom: var(--spacing-0)
    }

  .max-w_2xl {
    max-width: var(--sizes-2xl)
    }

  .mx_auto {
    margin-inline: auto
    }

  .bg_white {
    background: var(--colors-white)
    }

  .border-top-style_solid {
    border-top-style: solid
    }

  .border-t_gray\.100 {
    border-top-color: var(--colors-gray-100)
    }

  .border-top-width_1px {
    border-top-width: 1px
    }

  .p_4 {
    padding: var(--spacing-4)
    }

  .rounded-t_xl {
    border-top-left-radius: var(--radii-xl);
    border-top-right-radius: var(--radii-xl)
    }

  .ml_10 {
    margin-left: var(--spacing-10)
    }

  .px_3 {
    padding-inline: var(--spacing-3)
    }

  .py_4 {
    padding-block: var(--spacing-4)
    }

  .gap_2 {
    gap: var(--spacing-2)
    }

  .border_1px_solid {
    border: 1px solid
    }

  .border_gray\.100 {
    border-color: var(--colors-gray-100)
    }

  .rounded_lg {
    border-radius: var(--radii-lg)
    }

  .flex_1 {
    flex: 1 1 0%
    }

  .w_full {
    width: var(--sizes-full)
    }

  .px_4 {
    padding-inline: var(--spacing-4)
    }

  .py_1 {
    padding-block: var(--spacing-1)
    }

  .border_0 {
    border: 0
    }

  .rounded_md {
    border-radius: var(--radii-md)
    }

  .resize_none {
    resize: none
    }

  .bg_green\.600 {
    background: var(--colors-green-600)
    }

  .d_flex {
    display: flex
    }

  .flex_column {
    flex-direction: column
    }

  .flex_1_1_0\% {
    flex: 1 1 0%
    }

  .h_screen {
    height: 100vh
    }
    .\[\&\:focus\]\:ring_none:focus {
      outline: var(--borders-none)
        }
}